<div class="container">
    <form #myForm="ngForm" (ngSubmit)="addUser()">
    id: <input type="text" [(ngModel)]="model.id" name="id">
    first name: <input type="text" [(ngModel)]="model.first_name" name="firstName">
    last name: <input type="text" [(ngModel)]="model.last_name" name="lastName">
    email: <input type="text" [(ngModel)]="model.email" name="email">
    <button class="btn btn-primary" type="submit">Add User!</button>
  </form>
  <table class="table table-hover table-bordered table-sm">
    <thead>
      <tr [style.font-size.em]="1.5">
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="font-bold" (click)="goToUserDetails(user.$key)" *ngFor="let user of items | async">
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
 
</div>



