<div class="container">
  <form  #myForm="ngForm">
    <fieldset class="form-group">
      <label for="id">Id</label>
      <input class="form-control" type="text" [(ngModel)]="model.id" name="id" id="id" >
    </fieldset>
    <fieldset class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text"  [(ngModel)]="model.first_name" name="firstName" id="firstName">
    </fieldset>
    <fieldset class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" [(ngModel)]="model.last_name" name="lastName" id="lastName">
    </fieldset>
    <fieldset class="form-group">  
      <label for="email">Email</label>
      <input class="form-control" type="text" [(ngModel)]="model.email" name="email" id="email">
    </fieldset>
    <button class="btn btn-primary" type="button" (click)=>Update</button>
    <button class="btn btn-danger" type="button" (click)="deleteUser(selectedKey)">Delete</button> 

  </form>